In [68]:
import pandas as pd;

In [69]:
df=pd.read_csv("autos.csv",encoding="latin-1")

C:\Users\suriy\AppData\Local\Temp\ipykernel_22376\3745257280.py:1: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv("autos.csv",encoding="latin-1")

In [70]:
df

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,24-03-2016 11.52,Golf_3_1.6,privat,Angebot,480.0,test,NaN,1993.0,manuell,0.0,golf,150000,0.0,benzin,volkswagen,NaN,24-03-2016 0.00,0.0,70435.0,07-04-2016 3.16
1,24-03-2016 10.58,A5_Sportback_2.7_Tdi,privat,Angebot,18300.0,test,coupe,2011.0,manuell,190.0,NaN,125000,5.0,diesel,audi,ja,24-03-2016 0.00,0.0,66954.0,07-04-2016 1.46
2,14-03-2016 12.52,"Jeep_Grand_Cherokee_""Overland""",privat,Angebot,9800.0,test,suv,2004.0,automatik,163.0,grand,125000,8.0,diesel,jeep,NaN,14-03-2016 0.00,0.0,90480.0,05-04-2016 12.47
3,17-03-2016 16.54,GOLF_4_1_4__3TÃœRER,privat,Angebot,1500.0,test,kleinwagen,2001.0,manuell,75.0,golf,150000,6.0,benzin,volkswagen,nein,17-03-2016 0.00,0.0,91074.0,17-03-2016 17.40
4,31-03-2016 17.25,Skoda_Fabia_1.4_TDI_PD_Classic,privat,Angebot,3600.0,test,kleinwagen,2008.0,manuell,69.0,fabia,90000,7.0,diesel,skoda,nein,31-03-2016 0.00,0.0,60437.0,06-04-2016 10.17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
371534,14-03-2016 17.48,Suche_t4___vito_ab_6_sitze,privat,Angebot,2200.0,test,NaN,2005.0,NaN,0.0,NaN,20000,1.0,NaN,sonstige_autos,NaN,14-03-2016 0.00,0.0,39576.0,06-04-2016 0.46
371535,05-03-2016 19.56,Smart_smart_leistungssteigerung_100ps,privat,Angebot,1199.0,test,cabrio,2000.0,automatik,101.0,fortwo,125000,3.0,benzin,smart,nein,05-03-2016 0.00,0.0,26135.0,11-03-2016 18.17
371536,19-03-2016 18.57,Volkswagen_Multivan_T4_TDI_7DC_UY2,privat,Angebot,9200.0,test,bus,1996.0,manuell,102.0,transporter,150000,3.0,diesel,volkswagen,nein,19-03-2016 0.00,0.0,87439.0,07-04-2016 7.15
371537,20-03-2016 19.41,VW_Golf_Kombi_1_9l_TDI,privat,Angebot,3400.0,test,kombi,2002.0,manuell,100.0,golf,150000,6.0,diesel,volkswagen,NaN,20-03-2016 0.00,0.0,40764.0,24-03-2016 12.45
371538,07-03-2016 19.39,BMW_M135i_vollausgestattet_NP_52.720____Euro,privat,Angebot,28990.0,control,limousine,2013.0,manuell,320.0,m_reihe,50000,8.0,benzin,bmw,nein,07-03-2016 0.00,0.0,73326.0,22-03-2016 3.17

In [71]:
df.abtest.unique()

array(['test', 'control', nan, 'benzin'], dtype=object)

In [72]:
df.lastSeen.unique()

array(['07-04-2016 3.16', '07-04-2016 1.46', '05-04-2016 12.47', ...,
       '08-03-2016 20.43', '08-03-2016 21.28', '18-03-2016 11.30'],
      dtype=object)

In [73]:
deleteList=["nrOfPictures","lastSeen","offerType","seller","dateCrawled","dateCreated"]
df.drop(deleteList,axis=1,inplace=True)

In [74]:
hpUnique=df.powerPS.unique();

In [75]:
hpUnique.sort()

In [76]:
hpUnique

array([0.0000e+00, 1.0000e+00, 2.0000e+00, 3.0000e+00, 4.0000e+00,
       5.0000e+00, 6.0000e+00, 7.0000e+00, 8.0000e+00, 9.0000e+00,
       1.0000e+01, 1.1000e+01, 1.2000e+01, 1.3000e+01, 1.4000e+01,
       1.5000e+01, 1.6000e+01, 1.7000e+01, 1.8000e+01, 1.9000e+01,
       2.0000e+01, 2.1000e+01, 2.2000e+01, 2.3000e+01, 2.4000e+01,
       2.5000e+01, 2.6000e+01, 2.7000e+01, 2.8000e+01, 2.9000e+01,
       3.0000e+01, 3.1000e+01, 3.2000e+01, 3.3000e+01, 3.4000e+01,
       3.5000e+01, 3.6000e+01, 3.7000e+01, 3.8000e+01, 3.9000e+01,
       4.0000e+01, 4.1000e+01, 4.2000e+01, 4.3000e+01, 4.4000e+01,
       4.5000e+01, 4.6000e+01, 4.7000e+01, 4.8000e+01, 4.9000e+01,
       5.0000e+01, 5.1000e+01, 5.2000e+01, 5.3000e+01, 5.4000e+01,
       5.5000e+01, 5.6000e+01, 5.7000e+01, 5.8000e+01, 5.9000e+01,
       6.0000e+01, 6.1000e+01, 6.2000e+01, 6.3000e+01, 6.4000e+01,
       6.5000e+01, 6.6000e+01, 6.7000e+01, 6.8000e+01, 6.9000e+01,
       7.0000e+01, 7.1000e+01, 7.2000e+01, 7.3000e+01, 7.4000e+01,
       7.5000e+01, 7.6000e+01, 7.7000e+01, 7.8000e+01, 7.9000e+01,
       8.0000e+01, 8.1000e+01, 8.2000e+01, 8.3000e+01, 8.4000e+01,
       8.5000e+01, 8.6000e+01, 8.7000e+01, 8.8000e+01, 8.9000e+01,
       9.0000e+01, 9.1000e+01, 9.2000e+01, 9.3000e+01, 9.4000e+01,
       9.5000e+01, 9.6000e+01, 9.7000e+01, 9.8000e+01, 9.9000e+01,
       1.0000e+02, 1.0100e+02, 1.0200e+02, 1.0300e+02, 1.0400e+02,
       1.0500e+02, 1.0600e+02, 1.0700e+02, 1.0800e+02, 1.0900e+02,
       1.1000e+02, 1.1100e+02, 1.1200e+02, 1.1300e+02, 1.1400e+02,
       1.1500e+02, 1.1600e+02, 1.1700e+02, 1.1800e+02, 1.1900e+02,
       1.2000e+02, 1.2100e+02, 1.2200e+02, 1.2300e+02, 1.2400e+02,
       1.2500e+02, 1.2600e+02, 1.2700e+02, 1.2800e+02, 1.2900e+02,
       1.3000e+02, 1.3100e+02, 1.3200e+02, 1.3300e+02, 1.3400e+02,
       1.3500e+02, 1.3600e+02, 1.3700e+02, 1.3800e+02, 1.3900e+02,
       1.4000e+02, 1.4100e+02, 1.4200e+02, 1.4300e+02, 1.4400e+02,
       1.4500e+02, 1.4600e+02, 1.4700e+02, 1.4800e+02, 1.4900e+02,
       1.5000e+02, 1.5100e+02, 1.5200e+02, 1.5300e+02, 1.5400e+02,
       1.5500e+02, 1.5600e+02, 1.5700e+02, 1.5800e+02, 1.5900e+02,
       1.6000e+02, 1.6100e+02, 1.6200e+02, 1.6300e+02, 1.6400e+02,
       1.6500e+02, 1.6600e+02, 1.6700e+02, 1.6800e+02, 1.6900e+02,
       1.7000e+02, 1.7100e+02, 1.7200e+02, 1.7300e+02, 1.7400e+02,
       1.7500e+02, 1.7600e+02, 1.7700e+02, 1.7800e+02, 1.7900e+02,
       1.8000e+02, 1.8100e+02, 1.8200e+02, 1.8300e+02, 1.8400e+02,
       1.8500e+02, 1.8600e+02, 1.8700e+02, 1.8800e+02, 1.8900e+02,
       1.9000e+02, 1.9100e+02, 1.9200e+02, 1.9300e+02, 1.9400e+02,
       1.9500e+02, 1.9600e+02, 1.9700e+02, 1.9800e+02, 1.9900e+02,
       2.0000e+02, 2.0100e+02, 2.0200e+02, 2.0300e+02, 2.0400e+02,
       2.0500e+02, 2.0600e+02, 2.0700e+02, 2.0800e+02, 2.0900e+02,
       2.1000e+02, 2.1100e+02, 2.1200e+02, 2.1300e+02, 2.1400e+02,
       2.1500e+02, 2.1600e+02, 2.1700e+02, 2.1800e+02, 2.1900e+02,
       2.2000e+02, 2.2100e+02, 2.2200e+02, 2.2300e+02, 2.2400e+02,
       2.2500e+02, 2.2600e+02, 2.2700e+02, 2.2800e+02, 2.2900e+02,
       2.3000e+02, 2.3100e+02, 2.3200e+02, 2.3300e+02, 2.3400e+02,
       2.3500e+02, 2.3600e+02, 2.3700e+02, 2.3800e+02, 2.3900e+02,
       2.4000e+02, 2.4100e+02, 2.4200e+02, 2.4300e+02, 2.4400e+02,
       2.4500e+02, 2.4600e+02, 2.4700e+02, 2.4800e+02, 2.4900e+02,
       2.5000e+02, 2.5100e+02, 2.5200e+02, 2.5300e+02, 2.5400e+02,
       2.5500e+02, 2.5600e+02, 2.5700e+02, 2.5800e+02, 2.5900e+02,
       2.6000e+02, 2.6100e+02, 2.6200e+02, 2.6400e+02, 2.6500e+02,
       2.6600e+02, 2.6700e+02, 2.6800e+02, 2.6900e+02, 2.7000e+02,
       2.7100e+02, 2.7200e+02, 2.7300e+02, 2.7400e+02, 2.7500e+02,
       2.7600e+02, 2.7700e+02, 2.7800e+02, 2.7900e+02, 2.8000e+02,
       2.8100e+02, 2.8200e+02, 2.8300e+02, 2.8400e+02, 2.8500e+02,
       2.8600e+02, 2.8700e+02, 2.8800e+02, 2.8900e+02, 2.9000e+02,
       2.9200e+02, 2.9300e+02, 2.9400e+02, 2.9500e+02, 2.9600e+02,
       2.9700e+02, 2.9800e+02, 2.9900e+02, 3.0000e+02, 3.0100e+02,
       3.0300e+02, 3.0400e+02, 3.0500e+02, 3.0600e+02, 3.0700e+02,
       3.0800e+02, 3.0900e+02, 3.1000e+02, 3.1100e+02, 3.1200e+02,
       3.1300e+02, 3.1400e+02, 3.1500e+02, 3.1600e+02, 3.1700e+02,
       3.1800e+02, 3.1900e+02, 3.2000e+02, 3.2100e+02, 3.2200e+02,
       3.2300e+02, 3.2400e+02, 3.2500e+02, 3.2600e+02, 3.2700e+02,
       3.2800e+02, 3.2900e+02, 3.3000e+02, 3.3100e+02, 3.3200e+02,
       3.3300e+02, 3.3400e+02, 3.3500e+02, 3.3600e+02, 3.3700e+02,
       3.3800e+02, 3.3900e+02, 3.4000e+02, 3.4100e+02, 3.4300e+02,
       3.4400e+02, 3.4500e+02, 3.4600e+02, 3.4700e+02, 3.4800e+02,
       3.4900e+02, 3.5000e+02, 3.5100e+02, 3.5200e+02, 3.5300e+02,
       3.5400e+02, 3.5500e+02, 3.5600e+02, 3.5700e+02, 3.5800e+02,
       3.5900e+02, 3.6000e+02, 3.6100e+02, 3.6200e+02, 3.6300e+02,
       3.6400e+02, 3.6500e+02, 3.6600e+02, 3.6700e+02, 3.6800e+02,
       3.7000e+02, 3.7100e+02, 3.7300e+02, 3.7400e+02, 3.7500e+02,
       3.7600e+02, 3.7700e+02, 3.7900e+02, 3.8000e+02, 3.8100e+02,
       3.8200e+02, 3.8300e+02, 3.8500e+02, 3.8600e+02, 3.8700e+02,
       3.8800e+02, 3.9000e+02, 3.9200e+02, 3.9400e+02, 3.9600e+02,
       3.9700e+02, 3.9800e+02, 3.9900e+02, 4.0000e+02, 4.0100e+02,
       4.0200e+02, 4.0400e+02, 4.0500e+02, 4.0700e+02, 4.0800e+02,
       4.0900e+02, 4.1100e+02, 4.1500e+02, 4.1600e+02, 4.1700e+02,
       4.2000e+02, 4.2100e+02, 4.2300e+02, 4.2400e+02, 4.2500e+02,
       4.2600e+02, 4.2800e+02, 4.3000e+02, 4.3100e+02, 4.3200e+02,
       4.3400e+02, 4.3500e+02, 4.3600e+02, 4.3900e+02, 4.4000e+02,
       4.4100e+02, 4.4200e+02, 4.4300e+02, 4.4500e+02, 4.4900e+02,
       4.5000e+02, 4.5300e+02, 4.5400e+02, 4.5500e+02, 4.5700e+02,
       4.5900e+02, 4.6000e+02, 4.6200e+02, 4.6600e+02, 4.6800e+02,
       4.7000e+02, 4.7300e+02, 4.7500e+02, 4.7600e+02, 4.7700e+02,
       4.8000e+02, 4.8100e+02, 4.8300e+02, 4.8500e+02, 4.8700e+02,
       4.8900e+02, 4.9000e+02, 4.9200e+02, 4.9500e+02, 5.0000e+02,
       5.0100e+02, 5.0200e+02, 5.0400e+02, 5.0500e+02, 5.0600e+02,
       5.0700e+02, 5.0800e+02, 5.1000e+02, 5.1300e+02, 5.1400e+02,
       5.1500e+02, 5.1700e+02, 5.1800e+02, 5.1900e+02, 5.2000e+02,
       5.2100e+02, 5.2500e+02, 5.2800e+02, 5.2900e+02, 5.3000e+02,
       5.3200e+02, 5.4000e+02, 5.4100e+02, 5.4400e+02, 5.4500e+02,
       5.4700e+02, 5.4900e+02, 5.5000e+02, 5.5100e+02, 5.5300e+02,
       5.5500e+02, 5.5700e+02, 5.5900e+02, 5.6000e+02, 5.6400e+02,
       5.7000e+02, 5.7100e+02, 5.7200e+02, 5.7400e+02, 5.7500e+02,
       5.7900e+02, 5.8000e+02, 5.8100e+02, 5.8200e+02, 5.8300e+02,
       5.8400e+02, 5.8500e+02, 5.8700e+02, 5.8900e+02, 5.9900e+02,
       6.0000e+02, 6.0100e+02, 6.0200e+02, 6.0300e+02, 6.0400e+02,
       6.0600e+02, 6.0700e+02, 6.1000e+02, 6.1200e+02, 6.1900e+02,
       6.2000e+02, 6.2500e+02, 6.2900e+02, 6.3000e+02, 6.3100e+02,
       6.3200e+02, 6.4000e+02, 6.4400e+02, 6.4500e+02, 6.5000e+02,
       6.5100e+02, 6.5900e+02, 6.6600e+02, 6.7000e+02, 6.7100e+02,
       6.7200e+02, 6.7400e+02, 6.7600e+02, 6.7800e+02, 6.8000e+02,
       6.8200e+02, 6.8500e+02, 6.9600e+02, 7.0000e+02, 7.0200e+02,
       7.0300e+02, 7.0400e+02, 7.2100e+02, 7.3200e+02, 7.4000e+02,
       7.4300e+02, 7.4800e+02, 7.5000e+02, 7.5100e+02, 7.5400e+02,
       7.7100e+02, 7.7600e+02, 7.8000e+02, 7.9900e+02, 8.0000e+02,
       8.0100e+02, 8.0500e+02, 8.0800e+02, 8.5000e+02, 8.5100e+02,
       8.7100e+02, 8.8800e+02, 9.0000e+02, 9.0100e+02, 9.0200e+02,
       9.0300e+02, 9.0700e+02, 9.0900e+02, 9.2300e+02, 9.5000e+02,
       9.5200e+02, 9.5300e+02, 9.6000e+02, 9.6300e+02, 9.9800e+02,
       9.9900e+02, 1.0000e+03, 1.0010e+03, 1.0020e+03, 1.0030e+03,
       1.0040e+03, 1.0050e+03, 1.0110e+03, 1.0120e+03, 1.0160e+03,
       1.0170e+03, 1.0210e+03, 1.0240e+03, 1.0540e+03, 1.0550e+03,
       1.0560e+03, 1.0620e+03, 1.0790e+03, 1.0820e+03, 1.0900e+03,
       1.1000e+03, 1.1020e+03, 1.1030e+03, 1.1050e+03, 1.1110e+03,
       1.1150e+03, 1.1200e+03, 1.1490e+03, 1.1510e+03, 1.1580e+03,
       1.1600e+03, 1.1620e+03, 1.1640e+03, 1.1990e+03, 1.2000e+03,
       1.2020e+03, 1.2210e+03, 1.2230e+03, 1.2300e+03, 1.2390e+03,
       1.2400e+03, 1.2410e+03, 1.2500e+03, 1.2520e+03, 1.2560e+03,
       1.2750e+03, 1.2880e+03, 1.2990e+03, 1.3000e+03, 1.3120e+03,
       1.3170e+03, 1.3240e+03, 1.3390e+03, 1.3510e+03, 1.3600e+03,
       1.3620e+03, 1.3630e+03, 1.3670e+03, 1.3900e+03, 1.3940e+03,
       1.3980e+03, 1.3990e+03, 1.4000e+03, 1.4010e+03, 1.4030e+03,
       1.4050e+03, 1.4160e+03, 1.4320e+03, 1.4330e+03, 1.4360e+03,
       1.5000e+03, 1.5010e+03, 1.5020e+03, 1.5030e+03, 1.5060e+03,
       1.5210e+03, 1.5480e+03, 1.5950e+03, 1.5960e+03, 1.5970e+03,
       1.5980e+03, 1.6000e+03, 1.6250e+03, 1.6310e+03, 1.6530e+03,
       1.6590e+03, 1.6890e+03, 1.7000e+03, 1.7010e+03, 1.7030e+03,
       1.7040e+03, 1.7070e+03, 1.7530e+03, 1.7710e+03, 1.7790e+03,
       1.7800e+03, 1.7810e+03, 1.7830e+03, 1.7930e+03, 1.7960e+03,
       1.7990e+03, 1.8000e+03, 1.8010e+03, 1.8700e+03, 1.8950e+03,
       1.8960e+03, 1.9000e+03, 1.9100e+03, 1.9200e+03, 1.9220e+03,
       1.9330e+03, 1.9370e+03, 1.9680e+03, 1.9860e+03, 1.9880e+03,
       1.9920e+03, 1.9930e+03, 1.9950e+03, 1.9980e+03, 1.9990e+03,
       2.0000e+03, 2.0040e+03, 2.0050e+03, 2.0070e+03, 2.0090e+03,
       2.0160e+03, 2.0170e+03, 2.0180e+03, 2.1720e+03, 2.2000e+03,
       2.2010e+03, 2.3310e+03, 2.3400e+03, 2.3890e+03, 2.4020e+03,
       2.4610e+03, 2.5980e+03, 2.7290e+03, 2.7890e+03, 2.7920e+03,
       2.7990e+03, 3.0000e+03, 3.1440e+03, 3.1990e+03, 3.4540e+03,
       3.5000e+03, 3.7500e+03, 4.4000e+03, 4.5070e+03, 4.7000e+03,
       5.0000e+03, 5.4110e+03, 5.4200e+03, 5.5750e+03, 5.8090e+03,
       5.8150e+03, 5.8670e+03, 6.0060e+03, 6.0100e+03, 6.0110e+03,
       6.0120e+03, 6.0180e+03, 6.0450e+03, 6.0620e+03, 6.2260e+03,
       6.5120e+03, 6.9200e+03, 7.5080e+03, 7.5110e+03, 7.5120e+03,
       7.5150e+03, 7.5180e+03, 7.5290e+03, 7.5440e+03, 8.0110e+03,
       8.2590e+03, 8.4040e+03, 8.5000e+03, 9.0000e+03, 9.0070e+03,
       9.0100e+03, 9.0110e+03, 9.0120e+03, 9.0130e+03, 9.7100e+03,
       9.9990e+03, 1.0000e+04, 1.0110e+04, 1.0218e+04, 1.0311e+04,
       1.0317e+04, 1.0520e+04, 1.0522e+04, 1.0710e+04, 1.0910e+04,
       1.0912e+04, 1.1011e+04, 1.1025e+04, 1.1111e+04, 1.1509e+04,
       1.1530e+04, 1.1620e+04, 1.1635e+04, 1.2012e+04, 1.2510e+04,
       1.2512e+04, 1.2684e+04, 1.3616e+04, 1.3636e+04, 1.4009e+04,
       1.5001e+04, 1.5016e+04, 1.5017e+04, 1.5020e+04, 1.5033e+04,
       1.6011e+04, 1.6051e+04, 1.6311e+04, 1.6312e+04, 1.7011e+04,
       1.7019e+04, 1.7322e+04, 1.7410e+04, 1.7700e+04, 1.7932e+04,
       1.9208e+04, 1.9211e+04, 1.9312e+04, 2.0000e+04,        nan])

In [77]:
df = df[(df.powerPS > 60) & (df.powerPS < 500)]
df.shape

(290191, 14)

In [78]:
df.isnull().sum()

name                       0
price                      0
abtest                     0
vehicleType            18903
yearOfRegistration         0
gearbox                 4989
powerPS                    0
model                  11640
kilometer                  0
monthOfRegistration        0
fuelType               17375
brand                      0
notRepairedDamage      41447
postalCode                 0
dtype: int64

In [79]:
df.dropna(how = "all")

,name,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,postalCode
1,A5_Sportback_2.7_Tdi,18300.0,test,coupe,2011.0,manuell,190.0,NaN,125000,5.0,diesel,audi,ja,66954.0
2,"Jeep_Grand_Cherokee_""Overland""",9800.0,test,suv,2004.0,automatik,163.0,grand,125000,8.0,diesel,jeep,NaN,90480.0
3,GOLF_4_1_4__3TÃœRER,1500.0,test,kleinwagen,2001.0,manuell,75.0,golf,150000,6.0,benzin,volkswagen,nein,91074.0
4,Skoda_Fabia_1.4_TDI_PD_Classic,3600.0,test,kleinwagen,2008.0,manuell,69.0,fabia,90000,7.0,diesel,skoda,nein,60437.0
5,BMW_316i___e36_Limousine___Bastlerfahrzeug__Ex...,650.0,test,limousine,1995.0,manuell,102.0,3er,150000,10.0,benzin,bmw,ja,33775.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
371531,turbo_defekt,3200.0,control,limousine,2004.0,manuell,225.0,leon,150000,5.0,benzin,seat,ja,96465.0
371535,Smart_smart_leistungssteigerung_100ps,1199.0,test,cabrio,2000.0,automatik,101.0,fortwo,125000,3.0,benzin,smart,nein,26135.0
371536,Volkswagen_Multivan_T4_TDI_7DC_UY2,9200.0,test,bus,1996.0,manuell,102.0,transporter,150000,3.0,diesel,volkswagen,nein,87439.0
371537,VW_Golf_Kombi_1_9l_TDI,3400.0,test,kombi,2002.0,manuell,100.0,golf,150000,6.0,diesel,volkswagen,NaN,40764.0
371538,BMW_M135i_vollausgestattet_NP_52.720____Euro,28990.0,control,limousine,2013.0,manuell,320.0,m_reihe,50000,8.0,benzin,bmw,nein,73326.0

In [80]:
df["yearOfRegistration"].max()

9999.0

In [81]:
df = df[(df.yearOfRegistration > 1980) & (df.yearOfRegistration < 2019)]
df.shape

(288119, 14)

In [82]:
df

,name,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,postalCode
1,A5_Sportback_2.7_Tdi,18300.0,test,coupe,2011.0,manuell,190.0,NaN,125000,5.0,diesel,audi,ja,66954.0
2,"Jeep_Grand_Cherokee_""Overland""",9800.0,test,suv,2004.0,automatik,163.0,grand,125000,8.0,diesel,jeep,NaN,90480.0
3,GOLF_4_1_4__3TÃœRER,1500.0,test,kleinwagen,2001.0,manuell,75.0,golf,150000,6.0,benzin,volkswagen,nein,91074.0
4,Skoda_Fabia_1.4_TDI_PD_Classic,3600.0,test,kleinwagen,2008.0,manuell,69.0,fabia,90000,7.0,diesel,skoda,nein,60437.0
5,BMW_316i___e36_Limousine___Bastlerfahrzeug__Ex...,650.0,test,limousine,1995.0,manuell,102.0,3er,150000,10.0,benzin,bmw,ja,33775.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
371531,turbo_defekt,3200.0,control,limousine,2004.0,manuell,225.0,leon,150000,5.0,benzin,seat,ja,96465.0
371535,Smart_smart_leistungssteigerung_100ps,1199.0,test,cabrio,2000.0,automatik,101.0,fortwo,125000,3.0,benzin,smart,nein,26135.0
371536,Volkswagen_Multivan_T4_TDI_7DC_UY2,9200.0,test,bus,1996.0,manuell,102.0,transporter,150000,3.0,diesel,volkswagen,nein,87439.0
371537,VW_Golf_Kombi_1_9l_TDI,3400.0,test,kombi,2002.0,manuell,100.0,golf,150000,6.0,diesel,volkswagen,NaN,40764.0
371538,BMW_M135i_vollausgestattet_NP_52.720____Euro,28990.0,control,limousine,2013.0,manuell,320.0,m_reihe,50000,8.0,benzin,bmw,nein,73326.0

In [83]:
priceRange=df.price.unique()
priceRange.sort()
priceRange.mean()

82550.00327300731

In [84]:
df = df[(df.price > 200) & (df.price < 75000)]
df.shape

(279216, 14)

In [85]:
df.monthOfRegistration.unique()

array([ 5.,  8.,  6.,  7., 10.,  0., 12., 11.,  2.,  3.,  1.,  4.,  9.])

In [86]:
df = df[(df.monthOfRegistration >= 1) & (df.monthOfRegistration <= 12)]
df.shape

(263765, 14)

In [20]:
df.notRepairedDamage.isnull().sum()

30581

In [93]:
sdf=df.copy()
ldf=sdf.drop_duplicates(['price', 'abtest', 'vehicleType', 'yearOfRegistration', 'gearbox',
       'powerPS', 'model', 'kilometer', 'monthOfRegistration', 'fuelType',
       'brand', 'notRepairedDamage', 'postalCode'])
ldf.shape

(254553, 14)

In [95]:
sdf.dropna(how="any",inplace=True)
sdf.shape

(215255, 14)

Requirement already satisfied: sklearn-pandas==1.5.0 in c:\python310\lib\site-packages (1.5.0)
Requirement already satisfied: numpy>=1.6.1 in c:\python310\lib\site-packages (from sklearn-pandas==1.5.0) (1.23.4)
Requirement already satisfied: scikit-learn>=0.15.0 in c:\python310\lib\site-packages (from sklearn-pandas==1.5.0) (1.1.3)
Requirement already satisfied: pandas>=0.11.0 in c:\python310\lib\site-packages (from sklearn-pandas==1.5.0) (1.5.1)
Requirement already satisfied: scipy>=0.14 in c:\python310\lib\site-packages (from sklearn-pandas==1.5.0) (1.9.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\python310\lib\site-packages (from pandas>=0.11.0->sklearn-pandas==1.5.0) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\python310\lib\site-packages (from pandas>=0.11.0->sklearn-pandas==1.5.0) (2022.5)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\python310\lib\site-packages (from scikit-learn>=0.15.0->sklearn-pandas==1.5.0) (3.1.0)
Requirement already satisfied: joblib>=1.0.0 in c:\python310\lib\site-packages (from scikit-learn>=0.15.0->sklearn-pandas==1.5.0) (1.2.0)
Requirement already satisfied: six>=1.5 in c:\python310\lib\site-packages (from python-dateutil>=2.8.1->pandas>=0.11.0->sklearn-pandas==1.5.0) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

WARNING: Ignoring invalid distribution -p (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -p (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -p (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -p (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -p (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -p (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\python310\lib\site-packages)

In [87]:
df.notRepairedDamage.replace(to_replace="ja",value="1",inplace=True)

In [88]:
df.notRepairedDamage.replace(to_replace="nein",value="0",inplace=True)

In [89]:
df.notRepairedDamage.replace(to_replace="NaN",value="2",inplace=True)

In [90]:
fuelType=['diesel', 'benzin','lpg', 'andere', 'hybrid', 'cng',
       'elektro']

In [91]:
for fuel in fuelType:
    df.fuelType.replace(to_replace=fuel,value=fuelType.index(fuel),inplace=True)

In [92]:
df

,name,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,postalCode
1,A5_Sportback_2.7_Tdi,18300.0,test,coupe,2011.0,manuell,190.0,NaN,125000,5.0,0.0,audi,1,66954.0
2,"Jeep_Grand_Cherokee_""Overland""",9800.0,test,suv,2004.0,automatik,163.0,grand,125000,8.0,0.0,jeep,NaN,90480.0
3,GOLF_4_1_4__3TÃœRER,1500.0,test,kleinwagen,2001.0,manuell,75.0,golf,150000,6.0,1.0,volkswagen,0,91074.0
4,Skoda_Fabia_1.4_TDI_PD_Classic,3600.0,test,kleinwagen,2008.0,manuell,69.0,fabia,90000,7.0,0.0,skoda,0,60437.0
5,BMW_316i___e36_Limousine___Bastlerfahrzeug__Ex...,650.0,test,limousine,1995.0,manuell,102.0,3er,150000,10.0,1.0,bmw,1,33775.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
371531,turbo_defekt,3200.0,control,limousine,2004.0,manuell,225.0,leon,150000,5.0,1.0,seat,1,96465.0
371535,Smart_smart_leistungssteigerung_100ps,1199.0,test,cabrio,2000.0,automatik,101.0,fortwo,125000,3.0,1.0,smart,0,26135.0
371536,Volkswagen_Multivan_T4_TDI_7DC_UY2,9200.0,test,bus,1996.0,manuell,102.0,transporter,150000,3.0,0.0,volkswagen,0,87439.0
371537,VW_Golf_Kombi_1_9l_TDI,3400.0,test,kombi,2002.0,manuell,100.0,golf,150000,6.0,0.0,volkswagen,NaN,40764.0
371538,BMW_M135i_vollausgestattet_NP_52.720____Euro,28990.0,control,limousine,2013.0,manuell,320.0,m_reihe,50000,8.0,1.0,bmw,0,73326.0

In [30]:
modelList=['grand', 'golf', 'fabia', '3er', '2_reihe', 'c_max',
       '3_reihe', 'passat', 'navara', 'twingo', 'a_klasse', 'scirocco',
       '5er', 'meriva', 'andere', 'c4', 'civic', 'e_klasse', 'kadett',
       'one', 'fortwo', 'clio', '1er', 'b_klasse', 'punto', 'a8', 'jetta',
       'astra', 'c_klasse', 'micra', 'vito', 'sprinter', '156', 'escort',
       'forester', 'xc_reihe', 'fiesta', 'scenic', 'a1', 'transporter',
       'focus', 'a4', 'tt', 'a6', 'jazz', 'omega', 'polo', 'slk', '7er',
       'combo', '80', '147', 'glk', 'z_reihe', 'sportage', 'sorento',
       'ibiza', 'mustang', 'eos', 'touran', 'getz', 'insignia', 'almera',
       'megane', 'a3', 'r19', 'mondeo', 'cordoba', 'colt', 'impreza',
       'vectra', 'lupo', 'berlingo', 'm_klasse', 'tiguan', 'i_reihe',
       '6_reihe', 'up', 'ceed', 'kangoo', '5_reihe', 'yeti', 'octavia',
       'zafira', 'mii', 'rx_reihe', 'corsa', '6er', 'modus', 'panda',
       'beetle', 'rio', 'touareg', 'logan', 'caddy', 'spider', 's_max',
       'a2', 'x_reihe', 'a5', 'galaxy', 'c3', 'viano', 's_klasse',
       '1_reihe', 'sharan', 'avensis', 'sl', 'roomster', 'q5', 'santa',
       'leon', 'cooper', '4_reihe', 'laguna', 'ptcruiser', 'clk',
       'primera', 'espace', 'exeo', '159', 'transit', 'juke', 'ka', 'v40',
       'carisma', 'accord', 'corolla', 'lanos', 'phaeton', 'boxster',
       'verso', 'rav', 'kuga', 'qashqai', 'swift', 'picanto', 'superb',
       'stilo', 'alhambra', '911', 'm_reihe', 'roadster', 'ypsilon',
       'galant', 'justy', '90', 'sirion', 'signum', 'crossfire', 'duster',
       'v50', 'mx_reihe', 'discovery', 'c_reihe', 'v_klasse', 'yaris',
       'c5', 'aygo', 'cc', 'carnival', 'fusion', 'bora', 'agila', 'cl',
       'tigra', '300c', '500', '100', 'q3', 'cr_reihe', 'spark', 'x_type',
       'ducato', 's_type', 'x_trail', 'toledo', 'altea', 'voyager',
       'matiz', 'v70', 'bravo', 'range_rover', 'forfour', 'tucson', 'fox',
       'q7', 'c1', 'jimny', 'cx_reihe', 'cayenne', 'wrangler', 'lybra',
       'range_rover_sport', 'lancer', 'freelander', 'captiva', 'c2',
       'range_rover_evoque', 'sandero', 'note', 'antara', '900',
       'defender', 'cherokee', 'clubman', 'legacy', 'pajero', 'auris',
       'niva', 's60', 'nubira', 'vivaro', 'g_klasse', 'lodgy', '850',
       'serie_2', 'calibra', 'charade', 'croma', 'cuore', 'citigo',
       'outlander', 'gl', 'doblo', 'musa', 'kaefer', 'amarok', 'arosa',
       '9000', 'kalos', 'v60', 'aveo', '200', '145', 'b_max', 'delta',
       'rangerover', 'materia', 'terios', 'move', 'kalina', 'i3', 'kappa',
       'samara', 'serie_3', 'seicento', 'discovery_sport']

In [31]:
for model in modelList:
    df.model.replace(to_replace=model,value=int(modelList.index(model)) ,inplace=True)

In [32]:
df

,name,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,postalCode
1,A5_Sportback_2.7_Tdi,18300.0,test,coupe,2011.0,manuell,190.0,NaN,125000,5.0,0.0,audi,1,66954.0
2,"Jeep_Grand_Cherokee_""Overland""",9800.0,test,suv,2004.0,automatik,163.0,0.0,125000,8.0,0.0,jeep,NaN,90480.0
3,GOLF_4_1_4__3TÃœRER,1500.0,test,kleinwagen,2001.0,manuell,75.0,1.0,150000,6.0,1.0,volkswagen,0,91074.0
4,Skoda_Fabia_1.4_TDI_PD_Classic,3600.0,test,kleinwagen,2008.0,manuell,69.0,2.0,90000,7.0,0.0,skoda,0,60437.0
5,BMW_316i___e36_Limousine___Bastlerfahrzeug__Ex...,650.0,test,limousine,1995.0,manuell,102.0,3.0,150000,10.0,1.0,bmw,1,33775.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
371531,turbo_defekt,3200.0,control,limousine,2004.0,manuell,225.0,111.0,150000,5.0,1.0,seat,1,96465.0
371535,Smart_smart_leistungssteigerung_100ps,1199.0,test,cabrio,2000.0,automatik,101.0,20.0,125000,3.0,1.0,smart,0,26135.0
371536,Volkswagen_Multivan_T4_TDI_7DC_UY2,9200.0,test,bus,1996.0,manuell,102.0,39.0,150000,3.0,0.0,volkswagen,0,87439.0
371537,VW_Golf_Kombi_1_9l_TDI,3400.0,test,kombi,2002.0,manuell,100.0,1.0,150000,6.0,0.0,volkswagen,NaN,40764.0
371538,BMW_M135i_vollausgestattet_NP_52.720____Euro,28990.0,control,limousine,2013.0,manuell,320.0,141.0,50000,8.0,1.0,bmw,0,73326.0

In [33]:
gearBoxType=['manuell','automatik']
for gear in gearBoxType:
    df.gearbox.replace(to_replace=gear,value=int(gearBoxType.index(gear)) ,inplace=True)

In [34]:
df

,name,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,postalCode
1,A5_Sportback_2.7_Tdi,18300.0,test,coupe,2011.0,0.0,190.0,NaN,125000,5.0,0.0,audi,1,66954.0
2,"Jeep_Grand_Cherokee_""Overland""",9800.0,test,suv,2004.0,1.0,163.0,0.0,125000,8.0,0.0,jeep,NaN,90480.0
3,GOLF_4_1_4__3TÃœRER,1500.0,test,kleinwagen,2001.0,0.0,75.0,1.0,150000,6.0,1.0,volkswagen,0,91074.0
4,Skoda_Fabia_1.4_TDI_PD_Classic,3600.0,test,kleinwagen,2008.0,0.0,69.0,2.0,90000,7.0,0.0,skoda,0,60437.0
5,BMW_316i___e36_Limousine___Bastlerfahrzeug__Ex...,650.0,test,limousine,1995.0,0.0,102.0,3.0,150000,10.0,1.0,bmw,1,33775.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
371531,turbo_defekt,3200.0,control,limousine,2004.0,0.0,225.0,111.0,150000,5.0,1.0,seat,1,96465.0
371535,Smart_smart_leistungssteigerung_100ps,1199.0,test,cabrio,2000.0,1.0,101.0,20.0,125000,3.0,1.0,smart,0,26135.0
371536,Volkswagen_Multivan_T4_TDI_7DC_UY2,9200.0,test,bus,1996.0,0.0,102.0,39.0,150000,3.0,0.0,volkswagen,0,87439.0
371537,VW_Golf_Kombi_1_9l_TDI,3400.0,test,kombi,2002.0,0.0,100.0,1.0,150000,6.0,0.0,volkswagen,NaN,40764.0
371538,BMW_M135i_vollausgestattet_NP_52.720____Euro,28990.0,control,limousine,2013.0,0.0,320.0,141.0,50000,8.0,1.0,bmw,0,73326.0

In [35]:
vehicleTypeList=['coupe', 'suv', 'kleinwagen', 'limousine', 'cabrio', 'bus', 'kombi','andere']

In [36]:
for veh in vehicleTypeList:
    df.vehicleType.replace(to_replace=veh,value=int(vehicleTypeList.index(veh)) ,inplace=True)

In [37]:
df

,name,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,postalCode
1,A5_Sportback_2.7_Tdi,18300.0,test,0.0,2011.0,0.0,190.0,NaN,125000,5.0,0.0,audi,1,66954.0
2,"Jeep_Grand_Cherokee_""Overland""",9800.0,test,1.0,2004.0,1.0,163.0,0.0,125000,8.0,0.0,jeep,NaN,90480.0
3,GOLF_4_1_4__3TÃœRER,1500.0,test,2.0,2001.0,0.0,75.0,1.0,150000,6.0,1.0,volkswagen,0,91074.0
4,Skoda_Fabia_1.4_TDI_PD_Classic,3600.0,test,2.0,2008.0,0.0,69.0,2.0,90000,7.0,0.0,skoda,0,60437.0
5,BMW_316i___e36_Limousine___Bastlerfahrzeug__Ex...,650.0,test,3.0,1995.0,0.0,102.0,3.0,150000,10.0,1.0,bmw,1,33775.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
371531,turbo_defekt,3200.0,control,3.0,2004.0,0.0,225.0,111.0,150000,5.0,1.0,seat,1,96465.0
371535,Smart_smart_leistungssteigerung_100ps,1199.0,test,4.0,2000.0,1.0,101.0,20.0,125000,3.0,1.0,smart,0,26135.0
371536,Volkswagen_Multivan_T4_TDI_7DC_UY2,9200.0,test,5.0,1996.0,0.0,102.0,39.0,150000,3.0,0.0,volkswagen,0,87439.0
371537,VW_Golf_Kombi_1_9l_TDI,3400.0,test,6.0,2002.0,0.0,100.0,1.0,150000,6.0,0.0,volkswagen,NaN,40764.0
371538,BMW_M135i_vollausgestattet_NP_52.720____Euro,28990.0,control,3.0,2013.0,0.0,320.0,141.0,50000,8.0,1.0,bmw,0,73326.0

In [38]:
abTestList=['test', 'control']

In [39]:
for ab in abTestList:
    df.abtest.replace(to_replace=ab,value=int(abTestList.index(ab)) ,inplace=True)

In [40]:
df

,name,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,postalCode
1,A5_Sportback_2.7_Tdi,18300.0,0,0.0,2011.0,0.0,190.0,NaN,125000,5.0,0.0,audi,1,66954.0
2,"Jeep_Grand_Cherokee_""Overland""",9800.0,0,1.0,2004.0,1.0,163.0,0.0,125000,8.0,0.0,jeep,NaN,90480.0
3,GOLF_4_1_4__3TÃœRER,1500.0,0,2.0,2001.0,0.0,75.0,1.0,150000,6.0,1.0,volkswagen,0,91074.0
4,Skoda_Fabia_1.4_TDI_PD_Classic,3600.0,0,2.0,2008.0,0.0,69.0,2.0,90000,7.0,0.0,skoda,0,60437.0
5,BMW_316i___e36_Limousine___Bastlerfahrzeug__Ex...,650.0,0,3.0,1995.0,0.0,102.0,3.0,150000,10.0,1.0,bmw,1,33775.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
371531,turbo_defekt,3200.0,1,3.0,2004.0,0.0,225.0,111.0,150000,5.0,1.0,seat,1,96465.0
371535,Smart_smart_leistungssteigerung_100ps,1199.0,0,4.0,2000.0,1.0,101.0,20.0,125000,3.0,1.0,smart,0,26135.0
371536,Volkswagen_Multivan_T4_TDI_7DC_UY2,9200.0,0,5.0,1996.0,0.0,102.0,39.0,150000,3.0,0.0,volkswagen,0,87439.0
371537,VW_Golf_Kombi_1_9l_TDI,3400.0,0,6.0,2002.0,0.0,100.0,1.0,150000,6.0,0.0,volkswagen,NaN,40764.0
371538,BMW_M135i_vollausgestattet_NP_52.720____Euro,28990.0,1,3.0,2013.0,0.0,320.0,141.0,50000,8.0,1.0,bmw,0,73326.0

In [41]:
df.name.unique()

array(['A5_Sportback_2.7_Tdi', 'Jeep_Grand_Cherokee_"Overland"',
       'GOLF_4_1_4__3TÃœRER', ..., 'Smart_smart_leistungssteigerung_100ps',
       'VW_Golf_Kombi_1_9l_TDI',
       'BMW_M135i_vollausgestattet_NP_52.720____Euro'], dtype=object)

In [42]:
df.drop(['name'],axis=1,inplace=True)

In [43]:
df

,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,postalCode
1,18300.0,0,0.0,2011.0,0.0,190.0,NaN,125000,5.0,0.0,audi,1,66954.0
2,9800.0,0,1.0,2004.0,1.0,163.0,0.0,125000,8.0,0.0,jeep,NaN,90480.0
3,1500.0,0,2.0,2001.0,0.0,75.0,1.0,150000,6.0,1.0,volkswagen,0,91074.0
4,3600.0,0,2.0,2008.0,0.0,69.0,2.0,90000,7.0,0.0,skoda,0,60437.0
5,650.0,0,3.0,1995.0,0.0,102.0,3.0,150000,10.0,1.0,bmw,1,33775.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
371531,3200.0,1,3.0,2004.0,0.0,225.0,111.0,150000,5.0,1.0,seat,1,96465.0
371535,1199.0,0,4.0,2000.0,1.0,101.0,20.0,125000,3.0,1.0,smart,0,26135.0
371536,9200.0,0,5.0,1996.0,0.0,102.0,39.0,150000,3.0,0.0,volkswagen,0,87439.0
371537,3400.0,0,6.0,2002.0,0.0,100.0,1.0,150000,6.0,0.0,volkswagen,NaN,40764.0
371538,28990.0,1,3.0,2013.0,0.0,320.0,141.0,50000,8.0,1.0,bmw,0,73326.0

In [44]:
df.brand.unique()

array(['audi', 'jeep', 'volkswagen', 'skoda', 'bmw', 'peugeot', 'ford',
       'mazda', 'nissan', 'renault', 'mercedes_benz', 'opel', 'citroen',
       'honda', 'mini', 'smart', 'fiat', 'seat', 'subaru', 'volvo',
       'mitsubishi', 'hyundai', 'alfa_romeo', 'kia', 'lancia', 'porsche',
       'toyota', 'dacia', 'suzuki', 'chrysler', 'sonstige_autos',
       'jaguar', 'rover', 'saab', 'chevrolet', 'daihatsu', 'land_rover',
       'lada', 'daewoo'], dtype=object)

In [45]:
brandlist=['audi', 'jeep', 'volkswagen', 'skoda', 'bmw', 'peugeot', 'ford',
       'mazda', 'nissan', 'renault', 'mercedes_benz', 'opel', 'citroen',
       'honda', 'mini', 'smart', 'fiat', 'seat', 'subaru', 'volvo',
       'mitsubishi', 'hyundai', 'alfa_romeo', 'kia', 'lancia', 'porsche',
       'toyota', 'dacia', 'suzuki', 'chrysler', 'sonstige_autos',
       'jaguar', 'rover', 'saab', 'chevrolet', 'daihatsu', 'land_rover',
       'lada', 'daewoo']
for brand in brandlist:
    df.brand.replace(to_replace=brand,value=int(brandlist.index(brand)) ,inplace=True)

In [46]:
df

,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,postalCode
1,18300.0,0,0.0,2011.0,0.0,190.0,NaN,125000,5.0,0.0,0,1,66954.0
2,9800.0,0,1.0,2004.0,1.0,163.0,0.0,125000,8.0,0.0,1,NaN,90480.0
3,1500.0,0,2.0,2001.0,0.0,75.0,1.0,150000,6.0,1.0,2,0,91074.0
4,3600.0,0,2.0,2008.0,0.0,69.0,2.0,90000,7.0,0.0,3,0,60437.0
5,650.0,0,3.0,1995.0,0.0,102.0,3.0,150000,10.0,1.0,4,1,33775.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
371531,3200.0,1,3.0,2004.0,0.0,225.0,111.0,150000,5.0,1.0,17,1,96465.0
371535,1199.0,0,4.0,2000.0,1.0,101.0,20.0,125000,3.0,1.0,15,0,26135.0
371536,9200.0,0,5.0,1996.0,0.0,102.0,39.0,150000,3.0,0.0,2,0,87439.0
371537,3400.0,0,6.0,2002.0,0.0,100.0,1.0,150000,6.0,0.0,2,NaN,40764.0
371538,28990.0,1,3.0,2013.0,0.0,320.0,141.0,50000,8.0,1.0,4,0,73326.0

In [47]:
df.model.mode()

0    1.0
Name: model, dtype: float64

In [48]:
# for column in df.columns:
#     df[column].fillna(df[column].mode()[0], inplace=True)

In [49]:
# sdf=df.copy()
# ldf=sdf.drop_duplicates(['price', 'abtest', 'vehicleType', 'yearOfRegistration', 'gearbox',
#        'powerPS', 'model', 'kilometer', 'monthOfRegistration', 'fuelType',
#        'brand', 'notRepairedDamage', 'postalCode'])
# ldf.shape

(257080, 13)

In [50]:
print(sdf)

          price  abtest  vehicleType  yearOfRegistration  gearbox  powerPS  \
1       18300.0       0          0.0              2011.0      0.0    190.0
2        9800.0       0          1.0              2004.0      1.0    163.0
3        1500.0       0          2.0              2001.0      0.0     75.0
4        3600.0       0          2.0              2008.0      0.0     69.0
5         650.0       0          3.0              1995.0      0.0    102.0
...         ...     ...          ...                 ...      ...      ...
371531   3200.0       1          3.0              2004.0      0.0    225.0
371535   1199.0       0          4.0              2000.0      1.0    101.0
371536   9200.0       0          5.0              1996.0      0.0    102.0
371537   3400.0       0          6.0              2002.0      0.0    100.0
371538  28990.0       1          3.0              2013.0      0.0    320.0

        model kilometer  monthOfRegistration  fuelType  brand  \
1         NaN    125000                  5.0       0.0      0
2         0.0    125000                  8.0       0.0      1
3         1.0    150000                  6.0       1.0      2
4         2.0     90000                  7.0       0.0      3
5         3.0    150000                 10.0       1.0      4
...       ...       ...                  ...       ...    ...
371531  111.0    150000                  5.0       1.0     17
371535   20.0    125000                  3.0       1.0     15
371536   39.0    150000                  3.0       0.0      2
371537    1.0    150000                  6.0       0.0      2
371538  141.0     50000                  8.0       1.0      4

       notRepairedDamage  postalCode
1                      1     66954.0
2                    NaN     90480.0
3                      0     91074.0
4                      0     60437.0
5                      1     33775.0
...                  ...         ...
371531                 1     96465.0
371535                 0     26135.0
371536                 0     87439.0
371537               NaN     40764.0
371538                 0     73326.0

[266338 rows x 13 columns]

In [51]:
from sklearn.preprocessing import MinMaxScaler

In [52]:
ydf=sdf.drop(['abtest', 'vehicleType', 'yearOfRegistration', 'gearbox',
       'powerPS', 'model', 'kilometer', 'monthOfRegistration', 'fuelType',
       'brand', 'notRepairedDamage', 'postalCode'],axis=1,inplace=False)


xdf=sdf.drop(['price'],axis=1,inplace=False)

In [53]:
xdf

,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,postalCode
1,0,0.0,2011.0,0.0,190.0,NaN,125000,5.0,0.0,0,1,66954.0
2,0,1.0,2004.0,1.0,163.0,0.0,125000,8.0,0.0,1,NaN,90480.0
3,0,2.0,2001.0,0.0,75.0,1.0,150000,6.0,1.0,2,0,91074.0
4,0,2.0,2008.0,0.0,69.0,2.0,90000,7.0,0.0,3,0,60437.0
5,0,3.0,1995.0,0.0,102.0,3.0,150000,10.0,1.0,4,1,33775.0
...,...,...,...,...,...,...,...,...,...,...,...,...
371531,1,3.0,2004.0,0.0,225.0,111.0,150000,5.0,1.0,17,1,96465.0
371535,0,4.0,2000.0,1.0,101.0,20.0,125000,3.0,1.0,15,0,26135.0
371536,0,5.0,1996.0,0.0,102.0,39.0,150000,3.0,0.0,2,0,87439.0
371537,0,6.0,2002.0,0.0,100.0,1.0,150000,6.0,0.0,2,NaN,40764.0
371538,1,3.0,2013.0,0.0,320.0,141.0,50000,8.0,1.0,4,0,73326.0

In [54]:
ydf

          price
1       18300.0
2        9800.0
3        1500.0
4        3600.0
5         650.0
...         ...
371531   3200.0
371535   1199.0
371536   9200.0
371537   3400.0
371538  28990.0

[266338 rows x 1 columns]

In [55]:
sc=MinMaxScaler(feature_range=(0,1))
new_x = sc.fit_transform(xdf)
new_y=sc.fit_transform(ydf)

In [56]:
new_x.shape

(266338, 12)

In [57]:
new_y.shape

(266338, 1)

In [58]:
from sklearn.model_selection import cross_val_score, train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score
import numpy as np

In [59]:
X_train,X_test,Y_train,Y_test = train_test_split(new_x, new_y, train_size=0.5)
regressor = RandomForestRegressor(n_estimators = 100, max_depth = 10)

In [60]:
X_train.shape,Y_train.shape

((133169, 12), (133169, 1))

In [61]:
regressor.fit(X_train,np.ravel(Y_train,order='C'))

ValueError: Input X contains NaN.
RandomForestRegressor does not accept missing values encoded as NaN natively. For supervised learning, you might want to consider sklearn.ensemble.HistGradientBoostingClassifier and Regressor which accept missing values encoded as NaNs natively. Alternatively, it is possible to preprocess the data, for instance by using an imputer transformer in a pipeline or drop samples with missing values. See https://scikit-learn.org/stable/modules/impute.html You can find a list of all estimators that handle NaN values at the following page: https://scikit-learn.org/stable/modules/impute.html#estimators-that-handle-nan-values

In [ ]:
regressor.predict(X_test)

In [ ]:
regressor.score(X_test,Y_test)